/* #graph{
    color: aqua;
} */
 .square-red {
     margin-right: 10px;
     margin-left: 10px;

     margin-top: 18px;
     height: 20px;
     width: 20px;
     background-color: red;
 }
#size-label{
    margin-right: 10px;
    margin-top: 22px;
}
#time-label{
      margin-right: 10px;
      margin-top: 20px;
      margin-left: 40px;
}
#graph{
    margin:0 auto;
}
 .square-blue {
     margin-right: 5px;
     margin-left: 10px;
     margin-top: 18px;
     height: 20px;
     width: 20px;
     background-color: lawngreen;
 }